<?xml version="1.0"?>
<!-- 엔드이펙터마다 검증된 통합 CAD export 전체를 선택한다. 서로 다른 export의 팔/그리퍼를
     fixed joint로 추측 조립하지 않는다. dual은 현재 robot_arm.urdf, single은 git 3f048765에서
     복원한 robot_arm.single_motor_gripper.urdf를 사용한다. -->
<robot name="robot_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="end_effector_preset" default="dual_motor_gripper"/>

  <xacro:if value="${'$(arg end_effector_preset)' == 'dual_motor_gripper'}">
    <xacro:include filename="$(find robot_arm_description)/urdf/robot_arm.urdf"/>
  </xacro:if>
  <xacro:if value="${'$(arg end_effector_preset)' == 'single_motor_gripper'}">
    <xacro:include filename="$(find robot_arm_description)/urdf/robot_arm.single_motor_gripper.urdf"/>
  </xacro:if>
  <xacro:unless value="${'$(arg end_effector_preset)' in ['dual_motor_gripper', 'single_motor_gripper']}">
    <xacro:include filename="$(find robot_arm_description)/urdf/robot_arm.urdf"/>
  </xacro:unless>

</robot>
